<div id="content-container">
  <p id="file-count-p">All Files ({{files.length}})</p>
  <input id="upload-button" value="Upload File" type="button">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Last modified</td>
        <td colspan="2">Size</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{file.name}}</td>
        <td>{{file.modified}}</td>
        <td>{{file.size}}</td>
        <td><input type="button" value="X"></td>
      </tr>
    </tbody>
  </table>
</div>
