<div id="content-container">
  <p id="file-count-p">All Files ({{bucket.content.length}})</p>
  <button id="upload-button"  (click)="filePicker.click()">Upload File</button>
  <input type="file" id="file-input" #filePicker (change)="onFilePicked($event)">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Last modified</td>
        <td colspan="2">Size</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of bucket.content">
        <td>{{file.fileName}}</td>
        <td>{{file.modified.toLocaleDateString("en-US")}}</td>
        <td>{{file.size / 1000}} KB</td>
        <td><input id="removeFileInput" type="button" value="Remove file" (click)="onRemoveFile(file._id)"></td>
      </tr>
    </tbody>
  </table>
</div>
