.header {
  padding: 0;
  margin: 0;
  background: #606060;
  color: white;
}

.bucket-list {
  padding: 50px 50px 0px 50px;
}

h1 {
  padding: 10px;
  margin: 0;
  display: inline;
}

input {
  display: inline;
  float: right;
}

#container {
 background: #f6f6f6;
  margin: 0 20% 0 20%;
  height: 100vh;
}
