.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 150px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 200px;
}

.dropdown-content input {
  margin: 0;
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.dropdown-content input:hover {
  background-color: #ddd;
}




#locationInput {
  min-width: 150px;
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  padding: 4px;
  border: 1px solid #ddd;
}

table {
  width: 70%;
}


#create-container {
  height: 200px;
  background: white;
}


