<div id="create-container">
  <p>Create New Bucket</p>
    <form #createBucketForm="ngForm" (submit)="onCreateBucket(createBucketForm, $event)">
    <table class="">
      <tr>
        <td>Bucket Name*</td>
        <td>Bucket Location*</td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="bucketName"
              id="bucketName"
              [formControl]="bucketNameInputElement"
            >
          </div>
        </td>
        <td>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              [formControl]="locationInputElement"
              name="location"
              id="locationInput"
              (keyup)="filterLocations($event)"
            >
            <div class="dropdown-content">
              <input
                *ngFor="let location of locations"
                value="{{location}}"
                (click)="setValue($event)"
              >
            </div>
          </div>
        </td>
      </tr>
    </table>
    <input type="submit"  value="Create Bucket">
  </form>

</div>

