.bucket-count {
  display: inline;
}

.create-button {
  float: right;
  display: inline;
}

table {
  width: 100%;
  border: 2px solid #404040;
}

table thead {
  background: #808080;
  border-bottom: 2px solid #404040;
  color: white;
}

#list-container {
  min-height: 200px;
  background-color: white;
}
