<div id="list-container">
  <app-create-bucket *ngIf="openCreateBucket"></app-create-bucket>

  <p class="bucket-count">All Buckets {{buckets.length}}</p>
  <input class="create-button" type="button" (click)="onCreateNewBucket()" value="Create New Bucket">


  <div>
    <table>
      <thead >
      <tr class="bucket-list-header" >
        <td>Name</td>
        <td>Location</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bucket of buckets">
        <td>
          <a routerLink="/bucket/{{bucket.id}}" routerLinkActive="active">{{bucket.name}}</a>
        </td>
        <td>{{bucket.location}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

